<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Transactions:</strong>
  <%= @user.transactions %>
</p>

<p>
  <strong>Balance:</strong>
  <%= "$#{@user.balance_in_cents/100.0}" %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
